$bg-gray: #F2F2F2;
$baseColor: rgb(112, 158, 215);
$rectColor: #000;
$trapeColor: #888;
$mainRectColor: #eee;

.block-input {
    height: 100%;
    background-color: $bg-gray;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &.centered {
        justify-content: center;
    }

    &.illustration {
        border: 1px solid #999;

        .canvas {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;

            &.bases {
                background: #fff;
                justify-content: space-between;
            }

            .layer {
                position: absolute;
                width: 100%; height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &.support {
                    align-items: center;
                }

                &.legends {
                    padding-left: 50px;
                }
            }

            // Figures
            .base {
                background: $baseColor;
                width: 100%;
                height: 25%;
            }

            .rect {
                $cubeHeight: 110px !global;
                $rectWidth: 40px;
                $trapeciaShift: ($cubeHeight - $rectWidth) / 2;
                $trapeciaHeight: 80px !global;

                width: $rectWidth;
                height: $cubeHeight;
                background: $rectColor;

                &.trapecia {
                    background: transparent;
                    border-left: $trapeciaShift solid transparent;
                    border-right: $trapeciaShift solid transparent;
                    height: 0;

                    &.upper {
                        border-bottom: $trapeciaHeight solid $trapeColor;
                    }

                    &.bottom {
                        border-top: $trapeciaHeight solid $trapeColor;
                    }
                }

                &.main {
                    background: $mainRectColor;
                    width: $cubeHeight; height: $cubeHeight;
                }
            }
            // End Figures

            .legend {
                display: flex;
                position: relative;
                font-size: 20px;
                font-family: Arial, sans-serif;
                padding: 10px 0px;
                color: red;
                border-top: 2px solid #222;
                width: 90px;

                &.last {
                    border-bottom: 2px solid #222;
                }

                &.trapecia {
                    height: $trapeciaHeight - 24px; // WTF? .legend padding & border?
                }

                &.ot {
                    height: 19px;
                }

                &.depth {
                    height: 47px;
                }

                .legend-line {
                    $triangleHeightBord: 7px solid red;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 2px;
                    height: 100%;
                    background: red;
                    position: absolute;
                    top: 0;
                    left: 28px;

                    &:before, &:after {
                        content: '';
                        width: 0;
	                    height: 0;
	                    border-left: 5px solid transparent;
	                    border-right: 5px solid transparent;
                        border-bottom: $triangleHeightBord;
                        position: relative;
                        right: 4px;
                    }

                    &:after {
                        border-bottom: none;
                        border-top: $triangleHeightBord;
                    }
                }

                .legend-title {
                    width: 20px;
                    align-self: center;
                }
            }

            .placeholder-legends-left {
                height: $cubeHeight;
            }
        }
    }
}

body {
    padding: 25px;
}